@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, 'prompt', 'sarabun';
}

.swal-custom-select {
    width: 100% !important;
    margin: 10px 0 !important;
    padding: 12px !important;
    border-radius: 12px !important;
    border: 1px solid #d1d5db !important;
    font-size: 14px !important;
    background-color: #f9fafb !important;
    outline: none !important;
}

.swal-custom-select:focus {
    border-color: #10b981 !important;
    box-shadow: 0 0 0 2px rgba(16, 185, 129, 0.2) !important;
}
  /* filter: grayscale(100%); Makes the entire body content grayscale */
  /* -webkit-filter: grayscale(100%); For older WebKit browsers */
